<style type="text/css">
    #tutorial.opened {
        display: block!important;
    }
</style>

<div class="block double-padded">
    <h1>Smart Filters</h1>
    <p>Для отображения фильтра во всех категориях настройте используемую тему (<a href="#" class="inline-link" onclick="$('#tutorial').toggleClass('opened'); return false;">инструкция</a>) и включите плагин.</p>
    <div id="tutorial" class="block double-padded" style="border: 1px solid #ccc;display: none;margin-bottom: 20px">
        <p>Для установки плагина оберните <code class="bold italic">{ldelim}$content{rdelim}</code> в <code class="bold italic">&lt;div <span class="red">id="smartfiltercontent"</span>&gt;...&lt;/div&gt;</code> в файле <code class="bold italic">main.html</code> или <code class="bold italic">content.html</code> используемой темы.</p>
        <p>Пример для темы <span class="bold">CUSTOM</span>:<br><br>
            <img src="{$wa_url}wa-apps/shop/plugins/smartfilters/img/example.png">
        </p>
    </div>
    <p class="gray"><i class="icon16 exclamation"></i> Обратите внимание, данный плагин не замещает стандартные фильтры. Если вы включили плагин вместе с фильтрами в категории, будут показаны оба блока.</p>
    <p class="gray"><i class="icon16 exclamation"></i> Для вывода в произвольном месте шаблона добавьте <b><code>{ldelim}shopSmartfiltersPlugin::get($category.id){rdelim}</code></b> в файл <b>category.html</b> используемой темы.</p>
    <form method="post" action="?plugin=smartfilters&action=save" id="plugins-settings-form">
	{$wa->csrf()}
    <div class="field">
        <div class="name">Включить фильтрацию</div>
        <div class="value no-shift">
            <select name="enabled">
                <option value="0">нет</option>
                <option value="3"{if $enabled eq '3'} selected{/if}>интеграция с темой</option>
                <option value="1"{if $enabled eq '1'} selected{/if}>свой шаблон на месте хука frontend_category</option>
                <option value="2"{if $enabled eq '2'} selected{/if}>свой шаблон в произвольном месте при помощи хелпера</option>
            </select>
        </div>
    </div>

    <div class="field">
        <div class="name">Сортировка значений</div>
        <div class="value no-shift">
            <select name="order">
                <option value="">нет</option>
                <option value="value_asc"{if $order eq 'value_asc'} selected{/if}>Наименование (А &rarr; Я)</option>
                <option value="value_desc"{if $order eq 'value_desc'} selected{/if}>Наименование (Я &rarr; А)</option>
            </select>
        </div>
    </div>

    <div class="field">
        <div class="name">Шаблон фильтра</div>
        <div class="value">
            <p>Для настройки внешнего вида блока фильтра добавьте файл <code class="highlighted">{shopSmartfiltersPlugin::THEME_FILE}</code>
                в используемую вами тему дизайна. Файл <code>{shopSmartfiltersPlugin::THEME_FILE}</code> заменит стандартный шаблон плагина.
                Скачать оригинальный шаблон вы можете по <a href="?action=download&plugin=smartfilters" target="_blank">ссылке</a>.</p>
            {if $modified_template}
                <p>При обновлении плагин пытался перенести изменения, сделанные вами вручную, во все активные темы дизайна.
                    Если этого по какой-то причине не произошло, вы можете скачать изменённую версию по
                    <a href="?action=download&modified=1&plugin=smartfilters" target="_blank">ссылке</a>.</p>
            {/if}
        </div>
    </div>

    <div class="field">
        <div class="name">Подключить jQuery UI slider</div>
        <div class="value no-shift">
            <select name="ui_slider">
                <option value="1">нет</option>
                <option value="0"{if !$ui_slider} selected{/if}>да</option>
            </select>
            <p class="hint">
                Библиотека нужна для работы слайдеров в стандартном шаблоне. Подлючается через хук <strong>frontend_head</strong>.
            </p>
        </div>
    </div>

    <div class="field">
        <div class="value submit">
            <input type="submit" class="button green" value="Сохранить">
            <span id="plugins-settings-form-status" style="display:none"><!-- message placeholder --></span>
        </div>
    </div>

    </form>
</div>
