{strip}
<style type="text/css">
    .smartfilter_disabled {
        color:#888;
    }
    .smartfilter_loader {
        width:100%;
        height:200px;
        background:url({$wa_url}wa-apps/shop/plugins/smartfilters/img/loader.gif) 50% 50% no-repeat;
    }
    #smartfilter label {
        display: block;
        margin-bottom: 5px;
    }
    #smartfilter h5 {
        margin:10px 0 5px;
    }
    #smartfilter .slider { background: transparent; }
    #smartfilter .ui-slider { margin: 10px 15px 10px 8px; display: block; }
    #smartfilter .ui-slider-horizontal { height: 2px; border: none; }
    #smartfilter .ui-slider-horizontal .ui-slider-handle,
    #smartfilter .ui-slider-horizontal .ui-slider-handle.ui-state-focus { top: -0.55em; margin-left: -0.4em; height: 1.1em; width: 1.1em; border: none; box-shadow: 0 1px 2px rgba(0,0,0,0.15); border-radius: 50%; z-index: 0; }
    #smartfilter .ui-slider-horizontal .ui-slider-handle.ui-state-hover { border-color: #999; box-shadow: 0 1px 4px rgba(0,0,0,0.35); }
    #smartfilter .ui-slider-horizontal.ui-widget-content { background: #bbb; }
    #smartfilter .ui-slider-horizontal .ui-widget-header { background: #0a0; height: 4px; position: relative; top: -1px; z-index: 0; }
    #smartfilter .ui-widget-content .ui-state-default { border: 1px solid #ccc; background: #f7f7f7; }
</style>

{if !empty($smartfilters)}
    <div class="filters" id="smartfilter">
        <form method="get" action="{$wa->currentUrl(0,1)}">
            {foreach $smartfilters as $fid => $filter}
                <div class="filter-param">
                    {if $fid == 'price'}
                        {$c = $wa->shop->currency(true)}
                        <h5>Цена</h5>
                        <div class="slider">
                            от <input type="text" class="min" name="price_min" {if $wa->get('price_min')}value="{(int)$wa->get('price_min')}"{/if} placeholder="{floor($filter.min)}">
                            до <input type="text" class="max" name="price_max" {if $wa->get('price_max')}value="{(int)$wa->get('price_max')}"{/if} placeholder="{ceil($filter.max)}"> {$c.sign}
                        </div>
                    {else}
                        <h5>{$filter.name|escape}</h5>
                        {if $filter.type == 'boolean'}
                            <label><input type="radio" name="{$filter.code}"{if $wa->get($filter.code)} checked{/if} value="1"> Да</label>
                            <label><input type="radio" name="{$filter.code}"{if $wa->get($filter.code) === '0'} checked{/if} value="0"> Нет</label>
                            <label><input type="radio" name="{$filter.code}"{if $wa->get($filter.code, '') === ''} checked{/if} value=""> Неважно</label>
                        {elseif isset($filter.min)}
                            {$_v = $wa->get($filter.code)}
                            <div class="slider">
                                от <input type="text" class="min" name="{$filter.code}[min]" placeholder="{$filter.min}" {if !empty($_v.min)}value="{$_v.min}"{/if}>
                                до <input type="text" class="max" name="{$filter.code}[max]" placeholder="{$filter.max}" {if !empty($_v.max)}value="{$_v.max}"{/if}>
                                {if !empty($filter.unit)}
                                    {$filter.unit.title}
                                    {if $filter.unit.value != $filter.base_unit.value}<input type="hidden" name="{$filter.code}[unit]" value="{$filter.unit.value}">{/if}
                                {/if}
                            </div>
                        {else}
                            {foreach $filter.values as $v_id => $v}
                                <label>
                                    <input type="checkbox" name="{$filter.code}[]" {if in_array($v_id, (array)$wa->get($filter.code, array()))}checked{/if} value="{$v_id}"{if !empty($filter.disabled[$v_id])} disabled{/if}> {$v}
                                </label>
                            {/foreach}
                        {/if}
                    {/if}
                </div>
            {/foreach}
            {if $wa->get('sort')}<input type="hidden" name="sort" value="{$wa->get('sort')|escape}">{/if}
            {if $wa->get('order')}<input type="hidden" name="order" value="{$wa->get('order')|escape}">{/if}
            <input type="submit" value="Поиск">
        </form>
    </div>

    <script type="text/javascript" src="{$wa_url}wa-apps/shop/plugins/smartfilters/js/category.min.js?v1.1.0"></script>
    <script type="text/javascript">
        $(function(){
            $('#smartfilter').smartfilters({
                content_selector:'#smartfiltercontent'
            })
        });
    </script>
{/if}
{/strip}